/* 缁備胶鏁Phone娑撶挅afari閻ㄥ嫬鐡ч崣鐤殰閸斻劏鐨熼弫锟� */
html {
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;

}
/* 閸樺娅巌Phone娑擃參绮拋銈囨畱input閺嶅嘲绱�  濞撳懘娅庨懟瑙勭亯濞村繗顫嶉崳銊ф畱閸﹀棜顫楃悰銊ュ礋*/
input[type="submit"],

input[type="reset"],

input[type="button"]{-webkit-appearance:none; resize: none;}
/* 閸欐牗绉烽柧鐐复妤傛ü瀵�  */
body,div,ul,li,ol,h1,h2,h3,h4,h5,h6,input,textarea,select,p,dl,dt,dd,a,img,button,form,table,th,tr,td,tbody,article, 
aside, details,figcaption,figure,footer,header,hgroup, menu,nav,section{ -webkit-tap-highlight-color:rgba(0, 0, 0, 0); }
/* 鐠佸墽鐤咹TML5閸忓啰绀屾稉鍝勬健 */
article, aside, details,figcaption,figure,footer,header,hgroup, menu,nav,section {
display: block;
}
/* 閸ュ墽澧栭懛顏堬拷鍌氱安 */
img {
max-width: 100%;
height: auto;
width:auto\9; /* ie8 */
-ms-interpolation-mode:bicubic;/*娑撹桨绨￠悡褔銆恑e閸ュ墽澧栫紓鈺傛杹婢惰京婀�*/
}
/* 閸掓繂顫愰崠锟� */
body,div,ul,li,ol,h1,h2,h3,h4,h5,h6,input,textarea,select,p,dl,dt,dd,a,img,button,form,table,th,tr,td,tbody,article, 
aside, details,figcaption,figure,footer,header,hgroup, menu,nav,section{margin:0; padding:0; border:none;}
body{font-family: Microsoft YaHei,Tahoma,Arial,sans-serif; color:#555; background-color:#FFFFFF;}
em,i{font-style:normal;}
strong{font-weight: normal;}
.clearfix:after{content:""; display:block; visibility:hidden; height:0; clear:both;}
.clearfix{zoom:1;}
a{text-decoration:none; color:#969696; font-family: Microsoft YaHei,Tahoma,Arial,sans-serif;}
a:hover{ text-decoration:none;}
ul,ol{list-style:none;}
h1, h2, h3, h4, h5, h6{ font-size:100%; font-family: Microsoft YaHei;}
img{border: none;}
.scope{min-width:320px; max-width:540px;}
.clearfix:before,.clearfix:after,.cf:before,.cf:after{ display: block; content: " ";}
.clearfix:after,.cf:after{ clear: both;}
.clearfix,.cf{ zoom: 1;}
/*body{font-size: 62.5%;}*/
input:-webkit-autofill { 
-webkit-box-shadow:inset 0 0 0 100px #ffffff inset!important; 
-webkit-text-fill-color: #818391;
}
input,select{
	background: white;
}

input::-webkit-input-placeholder, textarea::-webkit-input-placeholder { 
color: #cccccc; 
} 
input:-moz-placeholder, textarea:-moz-placeholder { 
color: #cccccc; 
} 
input::-moz-placeholder, textarea::-moz-placeholder { 
color: #cccccc; 
} 
input:-ms-input-placeholder, textarea:-ms-input-placeholder { 
color: #cccccc; 
} 

